@import "tailwindcss";

:root {
  --bg-main: #f3f4f6;

  --bg-card: #ffffff;

  --border-primary: #d1d5db;

  --text-primary: #111827;

  --text-secondary: #6b7280;

  --primary: #f59e0b;

  --primary-hover: #d97706;
}

html,
body,
#root {
  margin: 0;

  padding: 0;

  width: 100%;

  height: 100%;

  background: var(--bg-main);

  color: var(--text-primary);

  font-family:
    Inter,
    sans-serif;
}